header {
	> .wr {
		@extend %clear;
		padding: 35px 45px 90px 45px;
		line-height: 25px;
	}

	* {
		font-family: $font-base;
		font-size: 15px;
		color: #565656;
		font-weight: normal;
	}

	.logo {
		width: 113px;
		height: 24px;
		display: inline-block;
		float: left;
	}

	.logo-text {
		margin-left: 35px;
		float: left;
	}

	.soc {
		float: right;
		width: 57%;	

		address {
			p {
				& {
					float: left;
				}

				&:first-child {
					& {
						margin-right: 30px;
						position: relative;
						width: 43%;
					}

					.header-addr-img {
						width: 22px;
						height: 24px;
						display: inline-block;
						margin-right: 15px;
						left: -35px;
						top: -1px;
						position: absolute;
					}
				}

				&:last-child {
					& {
						width: 31%;
						font-size: 26px;
						color: black;
						position: relative;
						font-weight: 800;
						letter-spacing: -1px;
						font-family: "Fira Sans";
					}

					.header-tel-img {
						width: 22px;
						height: 24px;
						display: inline-block;
						margin-right: 15px;
						left: -35px;
						top: -1px;
						position: absolute;
					}
				}
			}
		}

		.callback {
			color: #4DB0EC;
			font-size: 15px;
			border-bottom: 1px dashed #4db0ec;
			text-decoration: none;
		}
	}
}

main {
	.bgi {
		width: 100%;
		background-repeat: no-repeat;
		background-position: 575px -40px;
		@extend %clear;
		height: 800px;

		> .wr {
			padding: 0 45px;
		}
	}

	.service {
		.-left {
			& {
				width: 49%;
				clear: both;
				float: left;
				margin-top: 20px;
			}

			.header-caption {
				font-family: "Fira Sans";
				font-size: 57px;
				font-weight: 800;
				line-height: 81px;
				font-style: normal;
				letter-spacing: -2px;
				margin-bottom: 35px;
				color: black;
			}

			.header-text {
				font-size: 20px;
				line-height: 40px;
				font-family: "PT serif";
				color: grey;
				margin-bottom: 50px;
			}

			a {
				& {
					padding: 30px 160px 30px 30px;
					color: white;
					display: inline-block;
					font-size: 20px;
					font-weight: 800;
					position: relative;
					overflow: hidden;
					text-transform: uppercase;
					text-decoration: none;
					background-color: #96cd72;
					border-radius: 5px;
					font-family: "Open Sans";
					transition: all.3s ease;
				}

				&:hover {
					box-shadow: 5px 5px 20px #cfe6b7;
				}

				img {
					position: absolute;
					right: -1px;
					top: 7px;
					display: inline-block;max-width: 100%;
				}
			}
		}
	}

	.numbers {

		> .wr {
			padding: 0 0 0 45px;
		}

		ul {
			li {
				& {
					text-align: left;
					width: 27%;
					height: 215px;
					position: relative;
					display: inline-block;
					margin-right: 105px;
					margin-bottom: 350px;
					float: left;
					z-index: 999;

					&:after {
						content: "";
						display: table;
						clear: both;
					}
				}

				h3 {
					font-size: 32px;
					font-family: "Fira Sans";
					font-weight: bold;
					line-height: 45px;
					letter-spacing: -1px;
					color: black;
				}

				p {
					font-size: 15px;
					width: 100%;
					padding-right: 20px;
					font-family: "Open Sans";
					font-weight: 500;
					line-height: 26px;
				}

				&:before {
					content: "";
					display: block;
					position: absolute;
					top: -220px;
					left: 0;
					font-size: 198px;
					font-weight: 600;
					color: #cfe6b7;
				}

				&:nth-child(3n) {
					margin-right: 0;
				}

				&:nth-child(1) {
					&:before {
						content: "1.";
					}
				}

				&:nth-child(2) {
					&:before {
						content: "2.";
					}
				}

				&:nth-child(3) {
					&:before {
						content: "3.";
					}
				}

				&:nth-child(4) {
					&:before {
						content: "4.";
					}
				}

				&:nth-child(5) {
					margin-top: -120px;

					&:before {
						content: "5.";
					}
				}

				&:nth-child(6) {
					&:before {
						content: "6.";
					}
				}

				&:nth-child(7) {
					img {
						width: 92px;
						height: 130px;
						position: absolute;
						top: -187px;
						left: 62px;
					}

					&:before {
						content: "7.";
					}
				}

				&:nth-child(8) {
					margin-top: -165px;

					&:before {
						content: "8.";
					}
				}

				&:nth-child(9) {
					img {
						position: absolute;
						top: -460px;
						width: 285px;
						z-index: -99;
						right: -29px;
					}

					&:before {
						content: "9.";
					}
				}

				&:nth-child(10) {
					& {
						width: 50%;
						text-align: center;
						margin-left: 50%;
						transform: translate(-50%);
						display: inline-block;
						margin-right: 0;
						position: relative;
						margin-top: -100px;
						margin-bottom: 0;
					}

					img {
						position: absolute;
						left: -40px;
						top: -400px;
						z-index: -1;
					}

					h3, p {
						z-index: 9999;
					}

					p {
						span {
							background: #d5f8b0;
							padding: 5px 3px;
							color: black;
						}
					}
				}
			}
		}
	}
}


