body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;

    min-width: 320px;
}

html {
    margin: 0;
    padding: 0;
}

p, body, html {
    font-size: 15px;
    font-family: $font-base;
    color: $grey-7;
}

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: $font-base;
}

.wr {
    max-width: 1180px;
    min-width: 320px;
    padding: 0 35px;
    margin: 0 auto;
    position: relative;
}

li {
    list-style: none;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 100;

    &, a {
        color: $grey-4;
        text-decoration: none;
    }
}

h3 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: normal;

    &, a {
        color: $blue;
        text-decoration: none;
    }
}

h4 {
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
}

a {
    text-decoration: underline;
    color: #1b74b8;

    &:hover, &:active {
        text-decoration: none;
    }

    &:active {
        color: orange;
    }
}

%clear {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}