$white: #fff;
$black: #000;

$blue_1: #0074f1;
$blue_2: #1b74b8;

$blue: #0099ff;
$blue_light: #47b1f8;

$red: #c53b37;
$red_light: #f44c48;

$yellow: #faff96;

$green: #84d83c;

$grey-1_3: #f1f0f6;
$grey-1_2: #ede9e6;
$grey-1_1: #e8e8e8;
$grey-1: #e6e6e6;
$grey-2: #e0e0e0;
$grey-3_1: #ccc;
$grey-3: #bebab8;
$grey-4: #a5a5a5;
$grey-5: #9b9b9b;
$grey-5_1: #83818c;
$grey-6: #808080;
$grey-6_1: #6d6d6d;
$grey-6_2: #585c5f;
$grey-7: #333;
$grey-8: #232323;
$grey-8_1: #1a1b1d;
$grey-9: #1a1a1a;

$font-base: "PF DinText Pro", sans-serif;

//BreakPoints

$bp-xsmall: 479px;
$bp-small-2: 504px;
$bp-small: 599px;
$bp-small-2: 640px;
$bp-medium: 767px;
$bp-large-2: 905px;
$bp-large-3: 954px;
$bp-large: 1023px;
$bp-xlarge: 1199px;